.custom_py-1 { padding: 1rem 0; }

.custom_py-2 { padding: 2rem 0; }

.custom_py-3 { padding: 3rem 0; }

.custom_py-4 { padding: 4rem 0; }


.custom_py-top-small{
	padding-top: 1rem;
}
.custom_py-left-rigth-small {
	padding: 0 1.6rem;
}
.custom_py-left-rigth-normal{
	padding: 0 3rem;
}
.custom_py-big{
	padding: 8rem 0;
	@include respond(tab-port) { 
		padding: 4rem 0;
    }
}
.custom_my-0-auto{
	margin: 0 auto;
}
.custom_my-1 { margin: 1rem 0; }

.custom_my-2 { margin: 2rem 0; }

.custom_my-3 { margin: 3rem 0; 
	@include respond(tab-port) {
	    margin: 2rem 0; 
	}

}

.custom_my-4 { margin: 4rem 0; }

.custom_my-big { margin: 8rem 0; 
	@include respond(tab-port) { 
		margin: 4rem 0; 
    }
}

.custom_my-top-normal { margin-top: 5rem }

.custom_my-right-6{ margin-right: 6rem; }

.custom_my-bottom-small{ margin-bottom: 1.6rem; }

.custom_my-bottom-3{ margin-bottom: 3rem; 
	@include respond(tab-port) { 
		margin-bottom: 1rem;
    }
}

.custom_my-bottom-middle{ margin-bottom: 4rem; }

.custom_my-bottom-big{ margin-bottom: 8rem; 
	@include respond(tab-port) { 
        margin-bottom: 4rem;
   	}
}


.custom_u-center-text{ text-align: center;}





