$color-primary:  #000;
$color-primary-dark: #C80F2D;
$color-primary-light: #e8546c;
$color-gray: #86868b;
$color-light-1: #fff;
$color-light-secondary: #eee;
$color-dark: #000;
$color-footer: #333333;

$color-blue:  #00afe7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$max-width: 192rem;
$container-max-width: 1190px;
$default-font-size: 1.6rem;

$transition-speed: 1.1s;

$skewY-primary: skewY(-5deg);
$skewY-primary-opposite: skewY(5deg);

